@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


html {
  background-color: #590406;
  font-family: 'Major Mono Display', monospace;
  color: #ffffff;
}

h1 {
color: #ffffff;
font-weight: 50px;
}

p {
  color: #ffffff;
}

/* a.link {
  color: CD5400;
} */
